@page "/listas/reservas"
@rendermode InteractiveServer
@inject ListarReservaUseCase ListarReservaUseCase
@inject Sesion sesion
@inject BajaReservaUseCase ReservaBajaUseCase
@inject AltaReservaUseCase ReservaAltaUseCase

<h3>Reservas</h3>

@if (sesion.Usuario.PoseeElPermiso(Permiso.ReservaAlta)){
    <button @onclick="NuevaReserva">Agregar Reserva</button>
    <ModalReserva @ref=alta OnConfirmado="() => AgregarReserva()" />
}
<table>
    <tr>
        <th>ID</th>
        <th>Persona ID</th>
        @* <th>Nombre Persona</th> *@
        <th>Evento ID</th>
        <th>Estado</th>
        @if (sesion.Usuario.PoseeElPermiso(Permiso.ReservaModificacion) || sesion.Usuario.PoseeElPermiso(Permiso.ReservaBaja)){
            <th>Acción</th>
        }   
    </tr>
    @foreach (var reserva in _lista)
    {
    <tr>
        <td>@reserva.Id</td>
        <td>@reserva.PersonaId</td>
        @* <td>@reserva.PersonaId</td> *@
        <td>@reserva.EventoDeportivoId</td>
        <td>@reserva.Estado</td>
        @if (sesion.Usuario.PoseeElPermiso(Permiso.ReservaModificacion)){
        <td>
            <button class="btn btn-primary modificacion-reserva" @onclick="()=>ConfirmarModificacion(reserva)">Modificar</button>
        </td>
        }
        @if (sesion.Usuario.PoseeElPermiso(Permiso.ReservaBaja)){
            <td>
                <button class="btn btn-danger baja-reserva" @onclick="()=>ConfirmarEliminacion(reserva)">Eliminar</button>
                <DialogoConfirmacion @ref=dialogo Mensaje="¿Está seguro que desea eliminar esta reserva?" OnConfirmado="() => EliminarReserva()" />
            </td>
        }
    </tr>
    }
</table>
<ModalError @ref=error/>


@code {
    List<Reserva> _lista = new List<Reserva>();
    protected override void OnInitialized()
    {
        _lista = ListarReservaUseCase.Ejecutar();
    }
    ModalReserva alta = new();
    DialogoConfirmacion dialogo = new();
    ModalError error = new();
    Reserva? _ReservaAOperar = null;

    private void NuevaReserva() {
        alta.Mostrar();
    }

    private void ConfirmarEliminacion(Reserva r)
    {
        _ReservaAOperar = r;
        dialogo.Mostrar();
    }
    private void ConfirmarModificacion(Reserva r)
    {
        
    }
    private void EliminarReserva()
    {
        try
        {
            ReservaBajaUseCase.Ejecutar(_ReservaAOperar!.Id, sesion.Usuario.Permisos);
            _lista = ListarReservaUseCase.Ejecutar();
            StateHasChanged();
        }
        catch(Exception e)
        {
            error.Mostrar(e.Message);
        }
    }
    private void AgregarReserva()
    {   
        try
        {
            ReservaAltaUseCase.Ejecutar(alta.r!, sesion.Usuario.Permisos);
            _lista = ListarReservaUseCase.Ejecutar();
            StateHasChanged();
        }
        catch(Exception e)
        {
            error.Mostrar(e.Message);
        }
    }
}
